.Page{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}
.Page__Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.Content__Number{
    font-size: 6em;

    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Content__ButtonContainer{
    margin-top: 17%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5%;

    min-width: 300px;
    min-height: 60px;
}